.profile__edit-btn {
	display: grid;
    grid-column: 3;
    align-self: center;
    margin: 0 0 0 18px;
	transition: opacity .3s;
    width: 24px;
    height: 24px;
    background-color: transparent;
    padding: 0;
    border: none;
}

.profile__edit-btn:hover {
	opacity: .6;
	cursor: pointer;
}

@media screen and (max-width: 767px) {
	.profile__edit-btn {
		width: 18px;
		height: 18px;
		margin-bottom: 6px;
		margin-right: -28px;
	}
}
